* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #000b3d;
  color: #333;
  scroll-behavior: smooth;
}

/* Navbar */
header {
  background: #c8c8c8;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar {
  max-width: 1200px;
  margin: auto;
  padding: 50px 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  height: 100px;
  width: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%)
}

.logo:hover {
  transform: scale(1.05);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 400;
  font-size: 1.1rem;
  padding: 5px 5px;
  border-radius: 8px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #d43f00;
}

.btn {
  background: #d43f00;
  color: white;
  border: none;
  padding: 14px 24px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #ff5722;
}

/* Hero */
.hero {
  background: url('img/hero.jpg') center/cover no-repeat;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-text h1 {
  font-size: 4rem;
  color: #fff;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.5);
}

.hero-text p {
  color: #fff;
  font-size: 1.2rem;
  margin: 20px 0;
}

/* Seções */
section {
  padding: 80px 20px;
  text-align: center;
}

.sobre p {
  max-width: 800px;
  margin: 20px auto;
  line-height: 1.7;
}

/* Cardápio */
.cardapio .pratos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.prato {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 280px;
  padding-bottom: 20px;
  transition: 0.3s;
}

.prato img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.prato:hover {
  transform: translateY(-5px);
}

/* Contato */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
  margin: auto;
}

input, textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

textarea {
  resize: none;
  height: 120px;
}

/* Footer */
footer {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
}